* {
	margin: 0; 
	padding: 0; 
	border-style: solid; 
}

html, body {
height: 100%; 
weight: 100%;
}

body{
align-items: center; 
background-color: #FFF; 
display: flex; 
font-family: sans-serif; 
flex-direction: column; 
justify-content: center; 
overflow: hidden; 

}

div.container{ 
align-items: center; 
align-self: center;

}
